.error_page_wrap {
    width: 560px;
    height: 618px;
    min-height: 618px;
    margin: 0 auto;
    text-align: left;
}

.error_page_container {
    padding: 33px 20px 0 81px;
}

.error_title {
    color: #40a9ff;
    font-size: 30px;
}